<!-- <app-form-angular></app-form-angular> -->

<!-- <app-form-plantilla></app-form-plantilla> -->

<!-- <app-validator-form></app-validator-form> -->

<!-- <app-padre-output></app-padre-output> -->

<nav>
    <ul>
      <li><a routerLink="/form-angular" routerLinkActive="active">Fomularios con Validaciones</a></li>
      <li><a routerLink="/form-plantilla" routerLinkActive="active">Fomulario con Angular</a></li>
      <li><a routerLink="/validator-form" routerLinkActive="active">Formulario Plantilla con Validaciones</a></li>
      <li><a routerLink="/padre-input" routerLinkActive="active">Padre Input</a></li>
      <li><a routerLink="/padre-output" routerLinkActive="active">Padre Output</a></li>
    </ul>
  </nav>
  
  <!-- Aquí se cargarán los componentes según la ruta -->
  <router-outlet></router-outlet>
  