<div class="container">
    <h1>Formulario de Registro</h1>

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <label for="nombre">Nombre:<span>*</span></label>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre">
        <div class="alerta" *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
            <div *ngIf="registroForm.get('nombre')?.hasError">El nombre es obligatorio.</div>
        </div>

        <label for="email">Correo Electrónico:<span>*</span></label>
        <input type="text" id="email" formControlName="email" placeholder="Ingresa tu correo Electrónico">
        <div class="alerta" *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched">
            <div *ngIf="registroForm.get('email')?.hasError('required')">El correo electrónico es obligatorio.</div>
            <div *ngIf="registroForm.get('email')?.hasError('email')">El correo electrónico debe ser válido.</div>
        </div>

        <label for="fechaNacimiento">Fecha de Nacimiento:<span>*</span></label>
        <input type="text" id="fechaNacimiento" formControlName="fecha" placeholder="Ingresa tu fecha de nacimiento">
        <div class="alerta" *ngIf="registroForm.get('fecha')?.invalid && registroForm.get('fecha')?.touched">
            <div *ngIf="registroForm.get('fecha')?.hasError('required')">La fecha de nacimiento es obligatoria.</div>
            <div *ngIf="registroForm.get('fecha')?.hasError('pattern')">El formato de fecha es incorrecto (YYYY-MM-DD).</div>
        </div>

        <label for="password">Contraseña:<span>*</span></label>
        <input type="text" id="password" formControlName="password" placeholder="Ingresa tu contraseña">
        <div class="alerta" *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched">
            <div *ngIf="registroForm.get('password')?.hasError('required')">La contraseña es obligatoria.</div>
        </div>

        <label for="pais">Pais de residencia:<span>*</span></label>
        <input type="text" id="pais" formControlName="pais" placeholder="Ingresa tu pais de residencia actual.">
        <div class="alerta" *ngIf="registroForm.get('pais')?.invalid && registroForm.get('pais')?.touched">
            <div *ngIf="registroForm.get('pais')?.hasError('required')">El pais de residencia es obligatorio</div>
        </div>

        <span>* Campo Obligatorio</span>

        <button type="submit" [class]="{
            'enviar':registroForm.valid,
            'deshabilitado':registroForm.invalid
        }"[disabled]="registroForm.invalid">Registrarse</button>
    </form>

    <ng-container *ngIf="MostrarDatos">
        <h1>Datos Verificados:</h1>
        Nombre: {{registroForm.get('nombre')?.value}}<br>
        Correo Electrónico: {{registroForm.get('email')?.value}}<br>
        Fecha de Nacimiento: {{registroForm.get('fecha')?.value}}<br>
        Contraseña: {{registroForm.get('password')?.value}}<br>
        Pais de residencia: {{registroForm.get('pais')?.value}}<br>
    </ng-container>
</div>